<div class="table_planets">
  <div class="container">
    <div class="row row-cols-4">
      <!--Components-->
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
      <div class="col-3">
        <p class="name_property">Name: <span class="name">Tatooine</span></p>
        <p class="rotation_property">
          Rotation property: <span class="rotation_period">23</span>
        </p>
        <p class="property_diameter">
          Diameter: <span class="diameter">10465</span>
        </p>
        <p class="property_climate">
          Climate: <span class="climate">arid</span>
        </p>
        <p class="property_gravity">
          Gravity: <span class="gravity">1 standard</span>
        </p>
        <p class="property_terrain">
          Terrain: <span class="terrain">desert</span>
        </p>
        <p class="property_surface">
          Surface water: <span class="surface_water">1</span>
        </p>
        <p class="property_population">
          Population: <span class="population">200000</span>
        </p>
      </div>
    </div>
  </div>
</div>
